
.BGIMG01
  background-image: url("../assets/curso/tema1/img01.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img08.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.BGIMG03
  background-image: url("../assets/curso/tema1/img10.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.BGIMG04
  background-image: url("../assets/curso/tema2/img01.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center


.margenParrafo
  margin-left: 250px

.subir
  margin-top: -320px

.correr-izq
  margin-left: -60px

.BG01
  background-color: #F7B769

.BG02
  background-color: #E7E4AC

.BG03
  background-color: #FBF3D9

.BG04
  background-color: #C3E3DA


.bloque-texto
  background-color: #F0E6CE
